<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加用户</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/static/plugin/bootstrap/css/bootstrap.css">
    <!-- 最新版本的 awesome 图标 CSS 文件 -->
    <link rel="stylesheet" href="/static/plugin/font-awesome/css/font-awesome.css">
</head>
<body>

    <form action="add_user" method="post">
        <p>{{ obj.username }}<span class="alert-danger" >{{ obj.errors.username }}</span></p>
        <p>{{ obj.email }}<span class="alert-danger" >{{ obj.errors.email }}</span></p>
        <input type="submit" value="提交">
    </form>

<!--最新的jQueryCDN-->
<script src="/static/js/jquery-3.3.1.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="/static/plugin/bootstrap/js/bootstrap.js"></script>
</body>
</html>